<ul>
  {{#each posts}}
    <li>
      <div class="post-container" data-post-id="{{id}}">
        <div class="post-title">
          <h3>{{post_title}}</h3>
          <p>Posted by
            {{user.username}}
            on
            {{createdAt}}</p>
        </div>
        <div class="post-body">
          <p>{{post_body}}</p>
        </div>
      </div>
      {{#if comments}}
        {{#each comments}}
          <div class="vl"></div>
          <div class="comment-container">
            <div class="post-title">
            </div>
            <div class="post-body">
              <p>{{this.comment_body}}</p>
              <p style="font-weight: 800;">Comment by
                {{this.user.username}}
                made on
                {{this.createdAt}}</p>
            </div>
          </div>
        {{/each}}
      {{/if}}
    </li>
  {{/each}}
</ul>
{{#if loggedIn}}
  <script
    src="javascript/comment.js
"
  ></script>
{{/if}}